.pageBox tbody td{
    text-align: center !important;
}
.addManbtn{
    width: 1100px;
    margin: 5px auto 30px;
}
.addManbtn button{
    width: 96px;
    height: 36px;
    background: #37b5f9 ;
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    margin-right: 15px;
}
table thead td {
    width: 110px !important;
}
table thead td:last-child {
    width: 220px !important;
}
table tbody td:last-child span{
    width: 70px !important;
    display: inline-block;
    color: #37b5f9;
    height: 16px;
    background: #f8f8f8;
    vertical-align: middle;
    line-height: 16px;
}
table tbody td:last-child span:nth-child(2){
    border-radius: 0 !important;
    border-right: 1px solid #37b5f9;
    border-left:  1px solid #37b5f9;
}